In [64]:
# Set spark environments
import os
#os.environ["SPARK_HOME"] = '/home/ypang6/spark-2.4.7-bin-hadoop2.7'
os.environ["SPARK_HOME"] = '/home/ypang6/anaconda3/lib/python3.7/site-packages/pyspark'
os.environ["PYTHONPATH"] = '/home/ypang6/anaconda3/bin/python3.7'
os.environ['PYSPARK_PYTHON'] = '/home/ypang6/anaconda3/bin/python3.7'
os.environ['PYSPARK_DRIVER_PYTHON'] = '/home/ypang6/anaconda3/bin/python3.7'
#os.environ['JAVA_HOME'] = '/usr/bin/java'
#os.environ['PYSPARK_SUBMIT_ARGS'] = "--master local[*] pyspark-shell"

In [65]:
from pyspark.sql import SparkSession
from geospark.register import GeoSparkRegistrator
from geospark.core.formatMapper.shapefileParser import ShapefileReader
from pyspark.sql.types import StructType, StructField, ShortType, StringType, LongType, IntegerType, DoubleType
from geospark.utils.adapter import Adapter
from geospark.core.geom.envelope import Envelope
from geospark.core.enums import IndexType
from geospark.core.spatialOperator import RangeQuery

path_to_jars = "/home/ypang6/anaconda3/lib/python3.7/site-packages/pyspark/jars/"
jars = ["geospark-sql_2.3-1.3.0.jar", "geospark-1.3.0.jar", "geo_wrapper_2.11-0.3.0.jar"]

jars_string = ",".join([os.path.join(path_to_jars, el) for el in jars])

spark = SparkSession.builder.appName("Terminal_Area_Flight_Data_Query")\
    .config("spark.jars", ",".join([os.path.join(path_to_jars, el) for el in jars]))\
.getOrCreate()

GeoSparkRegistrator.registerAll(spark)

True

In [66]:
# from pyspark.sql import SparkSession
# from geospark.register import GeoSparkRegistrator
# from geospark.core.formatMapper.shapefileParser import ShapefileReader
# from pyspark.sql.types import StructType, StructField, ShortType, StringType, LongType, IntegerType, DoubleType
# from geospark.utils.adapter import Adapter
# from geospark.core.geom.envelope import Envelope
# from geospark.core.enums import IndexType
# from geospark.core.spatialOperator import RangeQuery

# path_to_jars = "/home/ypang6/anaconda3/lib/python3.7/site-packages/pyspark/jars/"
# jars = ["geospark-sql_3.0-1.3.2-SNAPSHOT.jar", "geospark-1.3.2-SNAPSHOT.jar"]

# jars_string = ",".join([os.path.join(path_to_jars, el) for el in jars])

# spark = SparkSession.builder.appName("Terminal_Area_Flight_Data_Query")\
#     .config("spark.jars", ",".join([os.path.join(path_to_jars, el) for el in jars]))\
# .getOrCreate()

# GeoSparkRegistrator.registerAll(spark)

In [67]:
#upload_jars()

In [68]:
# spark = SparkSession.builder. \
#     master("local[*]"). \
#     appName("TestApp"). \
#     config("spark.serializer", KryoSerializer.getName). \
#     config("spark.kryo.registrator", GeoSparkKryoRegistrator.getName). \
#     getOrCreate()

In [69]:
myschema = StructType([
    StructField("recType", ShortType(), True),  #1  //track point record type number
    StructField("recTime", StringType(), True),  #2  //seconds since midnigght 1/1/70 UTC
    StructField("fltKey", LongType(), True),  #3  //flight key
    StructField("bcnCode", IntegerType(), True),  #4  //digit range from 0 to 7
    StructField("cid", IntegerType(), True),  #5  //computer flight id
    StructField("Source", StringType(), True),  #6  //source of the record
    StructField("msgType", StringType(), True),  #7
    StructField("acId", StringType(), True),  #8  //call sign
    StructField("recTypeCat", StringType(), True),  #9
    StructField("lat", DoubleType(), True),  #10
    StructField("lon", DoubleType(), True),  #11
    StructField("alt", DoubleType(), True),  #12  //in 100s of feet
    StructField("significance", ShortType(), True),  #13 //digit range from 1 to 10
    StructField("latAcc", DoubleType(), True),  #14
    StructField("lonAcc", DoubleType(), True),  #15
    StructField("altAcc", DoubleType(), True),  #16
    StructField("groundSpeed", IntegerType(), True),  #17 //in knots
    StructField("course", DoubleType(), True),  #18  //in degrees from true north
    StructField("rateOfClimb", DoubleType(), True),  #19  //in feet per minute
    StructField("altQualifier", StringType(), True),  #20  //Altitude qualifier (the “B4 character”)
    StructField("altIndicator", StringType(), True),  #21  //Altitude indicator (the “C4 character”)
    StructField("trackPtStatus", StringType(), True),  #22  //Track point status (e.g., ‘C’ for coast)
    StructField("leaderDir", IntegerType(), True),  #23  //int 0-8 representing the direction of the leader line
    StructField("scratchPad", StringType(), True),  #24
    StructField("msawInhibitInd", ShortType(), True),  #25 // MSAW Inhibit Indicator (0=not inhibited, 1=inhibited)
    StructField("assignedAltString", StringType(), True),  #26
    StructField("controllingFac", StringType(), True),  #27
    StructField("controllingSec", StringType(), True),  #28
    StructField("receivingFac", StringType(), True),  #29
    StructField("receivingSec", StringType(), True),  #30
    StructField("activeContr", IntegerType(), True),  #31  // the active control number
    StructField("primaryContr", IntegerType(), True),  #32  //The primary(previous, controlling, or possible next)controller number
    StructField("kybrdSubset", StringType(), True),  #33  //identifies a subset of controller keyboards
    StructField("kybrdSymbol", StringType(), True),  #34  //identifies a keyboard within the keyboard subsets
    StructField("adsCode", IntegerType(), True),  #35  //arrival departure status code
    StructField("opsType", StringType(), True),  #36  //Operations type (O/E/A/D/I/U)from ARTS and ARTS 3A data
    StructField("airportCode", StringType(), True),  #37
    StructField("trackNumber", IntegerType(), True),  #38
    StructField("tptReturnType", StringType(), True),  #39
    StructField("modeSCode", StringType(), True),  #40
    StructField("sensorTrackNumberList", StringType(), True), #41 //a list of sensor/track number combinations
    StructField("spi", StringType(), True),  #42 // representing the Ident feature
    StructField("dvs", StringType(), True), #43 // indicate the aircraft is within a suppresion volumn area
    StructField("dupM3a", StringType(), True),  #44 // indicate 2 aircraft have the same mode 3a code
    StructField("tid", StringType(), True),  #45 //Aircraft Ident entered by pilot
])

In [70]:
import glob
date = 20190801
iff_file_path = glob.glob("/media/ypang6/paralab/Research/data/ZTL/IFF_ZTL_{}*.csv".format(date))[0]

In [123]:
# load iff sector data
df = spark.read.csv(iff_file_path, header=False, sep=",", schema=myschema)

# select columns
cols = ['recType', 'recTime', 'acId', 'lat', 'lon', 'alt']
df = df.select(*cols).filter(df['recType'] == 3).withColumn("recTime", df['recTime'].cast(IntegerType()))

# register pyspark df in SQL
df.registerTempTable("pointtable")

In [126]:
# create shape column in geospark
spatialdf = spark.sql(
    """
    SELECT ST_Point(CAST(lat AS Decimal(24, 20)), CAST(lon AS Decimal(24, 20))) AS geom, recTime, acId
    FROM pointtable
    """)

spatialdf.createOrReplaceTempView("spatialdf")

# register pyspark spatialdf in SQL
spatialdf.registerTempTable("spatialdf")

In [116]:
spatialdf.count()

1984654

In [117]:
spatialdf = spatialdf.dropDuplicates(['acId'])

In [118]:
spatialdf.count()

6626

In [120]:
spatialdf.show(truncate=False)

+--------------------------+----------+-------+
|geom                      |recTime   |acId   |
+--------------------------+----------+-------+
|POINT (32.17722 -89.50194)|1564707978|AAL1445|
|POINT (35.12278 -80.99083)|1564690379|AAL2061|
|POINT (35.29639 -80.89389)|1564686165|AAL2719|
|POINT (38.5525 -79.06722) |1564663566|AAL530 |
|POINT (37.99333 -78.37611)|1564667815|AAL798 |
|POINT (37.7 -88.28833)    |1564665368|AAL858 |
|POINT (38.09139 -84.51139)|1564682800|AAY1353|
|POINT (29.64083 -82.69111)|1564672274|AAY1466|
|POINT (37.31333 -79.99639)|1564668600|AAY909 |
|POINT (38.18333 -84.42861)|1564656063|ABX845 |
|POINT (36.00278 -78.74194)|1564695901|ASA753 |
|POINT (38.07444 -78.24944)|1564669723|AWI4844|
|POINT (38.40972 -77.56111)|1564638968|DAL2188|
|POINT (33.61417 -84.52194)|1564690864|DAL70  |
|POINT (33.60944 -84.30056)|1564718820|FDX1124|
|POINT (34.75167 -89.36528)|1564651690|FDX1558|
|POINT (29.46222 -82.975)  |1564673054|FFT1446|
|POINT (38.83139 -82.29139)|1564663974|FFT2423|
|POINT (38.37167 -86.9575) |1564709757|FWK680 |
|POINT (33.65778 -84.55722)|1564653489|JBU996 |
+--------------------------+----------+-------+
only showing top 20 rows

In [121]:
spatialdf.count()

6626

In [86]:
spatialdf = spark.sql(
            "SELECT ST_Point(CAST(lat AS Decimal(24, 20)), CAST(lon AS Decimal(24, 20))) AS geom, recTime, acId " \
            "FROM spatialdf " \
            "WHERE recTime>={} AND recTime<={}" \
            .format(1564708076, 1564708076+10))

In [87]:
spatialdf.count()

7088

In [72]:
df.count()

1984654

In [73]:
df.show(truncate=False)

+-------+----------+-----+--------+---------+----+
|recType|recTime   |acId |lat     |lon      |alt |
+-------+----------+-----+--------+---------+----+
|3      |1564634988|SKQ74|36.10444|-79.43917|23.0|
|3      |1564634999|SKQ74|36.11417|-79.43611|26.0|
|3      |1564635012|SKQ74|36.12389|-79.4325 |29.0|
|3      |1564635024|SKQ74|36.13333|-79.42889|32.0|
|3      |1564635036|SKQ74|36.14278|-79.42583|37.0|
|3      |1564635048|SKQ74|36.1525 |-79.42278|40.0|
|3      |1564635059|SKQ74|36.16083|-79.42   |43.0|
|3      |1564635072|SKQ74|36.17139|-79.41667|46.0|
|3      |1564635084|SKQ74|36.18056|-79.41389|48.0|
|3      |1564635096|SKQ74|36.19028|-79.41056|51.0|
|3      |1564635108|SKQ74|36.2    |-79.40722|54.0|
|3      |1564635120|SKQ74|36.21   |-79.40389|58.0|
|3      |1564635132|SKQ74|36.21944|-79.40056|60.0|
|3      |1564635143|SKQ74|36.22833|-79.39778|63.0|
|3      |1564635155|SKQ74|36.23833|-79.39444|66.0|
|3      |1564635167|SKQ74|36.24806|-79.39083|69.0|
|3      |1564635180|SKQ74|36.25806|-79.38778|72.0|
|3      |1564635191|SKQ74|36.26778|-79.38444|75.0|
|3      |1564635204|SKQ74|36.2775 |-79.38111|77.0|
|3      |1564635216|SKQ74|36.2875 |-79.3775 |80.0|
+-------+----------+-----+--------+---------+----+
only showing top 20 rows

In [74]:
# ST_PolygonFromEnvelope (MinX:decimal, MinY:decimal, MaxX:decimal, MaxY:decimal, UUID1, UUID2, ...)
SQL_range_query_result = spark.sql(
  """
    SELECT COUNT(DISTINCT acId)
    FROM spatialdf
    WHERE ST_Contains(ST_PolygonFromEnvelope(33.62, -84.56, 33.64, -84.54), geom)
  """)

In [75]:
SQL_range_query_result.first()[0]

261

In [62]:
# ST_PolygonFromEnvelope (MinX:decimal, MinY:decimal, MaxX:decimal, MaxY:decimal, UUID1, UUID2, ...)
SQL_range_query_result = spark.sql(
  """
    SELECT DISTINCT acId
    FROM spatialdf
    WHERE ST_Contains(ST_PolygonFromEnvelope(33.62, -84.56, 33.64, -84.54), geom)
  """)

In [63]:
SQL_range_query_result.count()

261

In [59]:
SQL_range_query_result.show(10, truncate=False)

+-------+
|acId   |
+-------+
|RPA4418|
|SKW3548|
|SWA378 |
|AAL462 |
|DAL3042|
|SWA1457|
|DAL900 |
|SWA205 |
|AAL2717|
|EDV5087|
+-------+
only showing top 10 rows

In [28]:
SQL_radius_query_result = spark.sql(
  """
  SELECT *
  FROM spatialdf
  WHERE ST_Distance(ST_Point(33.63172, -84.54941), geom) < 0.01
  """)

In [29]:
SQL_radius_query_result.count()

193

In [110]:
spatial_rdd = Adapter.toSpatialRdd(spatialdf, "geom")
range_query_window = Envelope(33.62, 33.64, -84.56, -84.54) # Envelope(minx, maxx, miny, maxy)

consider_boundary_intersection = False ## Only return gemeotries fully covered by the window
build_on_spatial_partitioned_rdd = False ## Set to TRUE only if run join query
spatial_rdd.buildIndex(IndexType.QUADTREE, build_on_spatial_partitioned_rdd)

using_index = True

query_result = RangeQuery.SpatialRangeQuery(
    spatial_rdd,
    range_query_window,
    consider_boundary_intersection,
    using_index
)

In [111]:
query_result.count()

1

In [112]:
query_result.map(lambda x: x).collect()

[Geometry: Point userData: 1564708078	DAL2105]